* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    background-color: white;
  }
  
  .Home {
    color: white;
    font-size: 200px;
    text-align: center;
    font-family: inspiration;
    background-image: url("https://sv1.picz.in.th/images/2023/03/08/eQK4Rn.png");
    background-blend-mode: overlay;
    background-color: #08172E;
    background-size: 100%;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px ;
    font-weight: bold;
    background-repeat: no-repeat;
  }
  
  .Home Img {
    float: left;
    width: 300px;
    height: 300px;
  }
  
  .Home h1 {
    padding-inline-end: 20px;
    padding-bottom: 10px;
    font-family: Alice;
    text-align: end;
    font-size: 20px;
    color: white;
    text-decoration: underline;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    margin-top: -15px;
    padding: 0;
    width: 20%;
    background-color: #08172E;
    position: absolute;
    height: 100%;
    overflow: auto;
    font-size: 40px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px ;
    text-align: center;
  }
  
  ul .pic {
    width: 100px;
    height: 100px;
    margin-left: 30%;
    margin-top: 20px;
  }
  
  h3 {
    font-family: Kalam;
    font-size: 60px;
  }
  
  li a {
    display: block;
    color: white;
    margin-top: 10px;
    padding: 20px;
    text-decoration: none;
    font-family: prompt;
    font-size: 30px;
    border-radius: 20px;
    background-color: #111B71;
  }
  
  .Home h2 {
    display: block;
    position: absolute;
    margin-left: 25%;
    padding: 30px;
    width: 15%;
    background-color: #111B71;
    color:white;
    font-family: prompt;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
  }
  
  h4 {
    color: #646161;
    position: absolute;
    margin-left: 35%;
    margin-top: 25%;
    font-size: 20px;
    font-family: prompt;
  }
  
  h5 {
    color: #646161;
    position: absolute;
    margin-left: 70%;
    margin-top: 25%;
    font-size: 20px;
    font-family: prompt;
  }
  
  h6 {
    color: #646161;
    position: absolute;
    margin-left: 55%;
    margin-top: 45%;
    font-size: 20px;
    font-family: prompt;
  }
  
  .Home .Img1 {
    width: 80px;
    height: 80px;
    margin-left: 94%;
    margin-top: 42%;
  }
  
  .Home .sizes {
    height: 40%;
    float: left;
    margin-top: -37%;
    margin-left: 32%;
    border-radius: 10%;
  }
  
  .Home .sizem {
    height: 40%;
    float: left;
    margin-top: -37%;
    margin-left: 68%;
    border-radius: 10%;
  }
  .Home .sizel {
    height: 40%;
    float: left;
    margin-top: -16%;
    margin-left: 53%;
    border-radius: 10%;
  }