* {
    box-sizing: border-box;
  }
  
.Status {
    color: floralwhite;
    background: #111B71;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
    li {
      float: right;
      display: inline;
      }
  
    li a {
      display: block;
      padding: 8px ;
      list-style-type: none;
      background-color: #111B7 ; 
      color: #ffffff;
    }
  
  p {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
    font-size: 35px;
  }